# Valid values are: error, warn, info, audit, debug, trace
LOG_LEVEL=

# Port to listen on
SERVER_PORT=

# Set to 'redis' to enable redis-backed sessions
# All other values will configure memory-backed sessions
SESSION_STORAGE_TYPE=
SESSION_EXPIRES_SECONDS=
SESSION_COOKIE_NAME=
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_PATH=
SESSION_COOKIE_SECRET=
SESSION_MAX_RETRIES_PER_REQUEST=

# Redis server config
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
