# Global log level for the application (default: info).
# Controls the verbosity of log messages.
# Valid values are: error, warn, info, audit, debug, trace
LOG_LEVEL=

# HTTP port on which the server will listen (default: 3000).
# This is the primary port used to serve the application.
PORT=

# Enable debug logging for i18next (default: false).
# Set to true to view additional logging for localization issues.
I18NEXT_DEBUG=

#
# Session configuration
#

# Type of session backing store (default: memory).
#
# Valid values are:
#   - memory: stores sessions in memory (not suitable for production)
#   - redis: stores sessions in a Redis database
SESSION_TYPE=

# Number of seconds before a session expires (default: 3600).
# Determines the lifespan of a user session.
SESSION_EXPIRES_SECONDS=

# Name of the session cookie (default: __FSIR||session).
# This name is used for storing session information in the browser.
SESSION_COOKIE_NAME=

# Domain scope for the session cookie (default: localhost).
# Restricts the cookie to a specific domain (e.g., `.example.com`).
SESSION_COOKIE_DOMAIN=

# Path scope for the session cookie (default: /).
# Restricts the cookie to a specific path within the domain (e.g., `/my-app`).
SESSION_COOKIE_PATH=

# Secret key used to sign and validate session cookies (default: 00000000-0000-0000-0000-000000000000).
# This should be a strong, random string. Keep it secure.
SESSION_COOKIE_SECRET=

# If the cookie should be flagged as secure (default: true when NODE_ENV=production)
SESSION_COOKIE_SECURE=

#
# Redis configuration (required if SESSION_TYPE=redis):
#

# Type of Redis connection (default: standalone).
# Valid values are: standalone, sentinel.
REDIS_CONNECTION_TYPE=

# Hostname or IP address of the Redis server (default: localhost).
REDIS_HOST=

# Port number for connecting to the Redis server (default: 6379).
REDIS_PORT=

# Username for authenticating with the Redis server.
# Leave blank if Redis does not require a username.
REDIS_USERNAME=

# Password for authenticating with the Redis server.
# Leave blank if Redis does not require a password.
REDIS_PASSWORD=

# Maximum time (in seconds) for Redis commands to execute before timing out (default: 1).
# Used to prevent long-running operations from hanging indefinitely.
REDIS_COMMAND_TIMEOUT_SECONDS=

# The name of the sentinel master.
# Required if REDIS_CONNECTION_TYPE=sentinel
REDIS_SENTINEL_MASTER_NAME=



AZURE_ISSUER_URL=
AZURE_CLIENT_ID=
